@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.header {
    background-image: url(images/header_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.header-container {
    display: flex;
    flex-direction: column;
    /*max-width: 1000px;*/
    width: 80%;
    height: inherit;
    margin: 0 auto;
  
    justify-content: center;
    align-items: center;
}

.header-container h1 {
     font-size: 86px;
     font-weight: 400;
     color: white;
     text-align: center;
     margin: 0;
}

.action {
    font-size: 11px;
    letter-spacing: 1.4px;
    color: white
}

.info-about {
    font-size: 24px;
    color: white
}

.start-now {
    width: 259px;
    height: 58px;
    border-radius: 40px;
    background-color: white;
    color:black;
    border: none;
    font-size: 15px;
}

.offer {
    margin-top: 100px;
}

.container {
    max-width: 1052px;
    width: 90%;
    margin: 0 auto;
}

.lunch-description {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.lunch-photo {
    display: flex;
    flex-direction: row;
}

.lunch-photo img {
    height: 433px;
}

.rectangle {
    height: 433px;
    width: 380px;
    background-color: #F3F3E8;
}

.text-description {
    align-items: left;
}

.lunch-name {
    padding-top: 40px;
    font-size: 15px;
}

.name {
    font-size: 29px;
    margin: 0%;
}

.cost {
    font-size: 19px;
    margin: 0%;
    margin-top: 10px;
}

.marks {
    display: flex;
    flex-direction: row;
    
    gap: 8px;
    margin-left: auto;
}

.average-mark {
    display: flex;
    flex-direction: row;
    /*list-style: none;*/
    justify-content: start;

}
.average-mark img {
    width: 16px;
}

.number-of-reviews {
    font-size: 12px;
}

.choosing {
    font-size: 15px;
}

.number-of-lunches {
    font-size: 15px;
    color:black;
}

.buttons {
    margin-top: 67px;
    gap: 13px;
    display: flex;
    flex-direction: row;
}

.amount {
    font-size: 15px;
    height: 58px;
    width: 130px;
    border-color: black;
    border-width: 1px;
    border-radius: 40px;
    background-color: white;
    letter-spacing: 40px;
    padding-left: 28px;
}

.add-to-cart {
    height: 58px;
    width: 220px;
    border-radius: 40px;
    background-color: black;
    color: white;
}

.social-media {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.facebook {
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 24px;
}

.facebook img {
    width: 17px;
    margin-bottom: 45px;
}

location {
    margin-top: 153px;
}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fb50 {
    flex-basis: 50%;
}

.location-info {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location-info h2 {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-top: 330px;
}

.address {
    font-size: 27px;
    margin: 0%;
}

.not-your-location {
    font-size: 16px;
    line-height: 24px;
    margin-top: 55px;
}

.join-waitlist {
    margin-top: 34px;
    width: 177px;
    height: 58px;
    font-size: 16px;
    border-radius: 40px;
    border-width: 1px;
    border-color: black;
    background-color: white;
}
